body {
margin: auto;
font-family: cursive;
font-size: 20px;
background-color: pink;
}


head {
margin: auto;
}

.images {
border-left: 5px solid black;
border-right: 5px solid black;
border-top: 5px solid black;
margin: auto; 
width: 250px;
height: auto;
display: block;
background-color: lightblue;
}

h1 {
text-align: center;
font-size: 35px;
font-weight: bold;
margin: auto;
text-decoration: underline;
background-color: lightblue;
width: 720px;
border-top: 5px solid black;
border-left: 5px solid black;
border-right: 5px solid black;
}


.dropcap {
margin: auto;
width: 700px;
background-color: lightblue;
position: relative;
padding: 4px 10px 10px 10px;
display: block;
border-right: 5px solid black;
border-left: 5px solid black;
}


.aboutme1 {
font-size: 30px;
font-weight: bold;
text-decoration: underline;
}

.aboutme2 {

}

.hobbies1 {
font-size: 30px;
font-weight: bold;
text-decoration: underline;
}

.hobbies2 {

}

----------------------------------------------

.kirbo1 {
background-color: forestgreen;
}

.meta {
background-color: red;
}

.king {
background-color: yellow;
}

.dee {
background-color: orange;
}

.steve {
background-color: #a86232;
}

.alex {

}

.creeper {
background-color: lightgreen;
}

.chief {
background-color: forestgreen;
}

.marx {
background-color: #fc038c;
}

.ender {
background-color: purple;
}

.terrarian {

}

.moonlord {
background-color: black;
}

.eol {
background-color: white;
}

. {

}

. {

}
