body {
margin: auto;
font-family: cursive;
font-size: 20px;
}


head {
margin: auto;
}

.images {
border: 3px solid black;
margin: auto; 
width: 250px;
height: auto;
display: block;
}

h1 {
text-align: center;
font-size: 35px;
font-weight: bold;
position: relative;
margin: auto;
text-decoration: underline;
background-color: lightblue;
width: 600px
}


.dropcap {
margin: auto;
top: 40px;
width: 700px;
background-color: lightblue;
position: relative;
padding: 1px 4px 1px 4px;
}


.aboutme1 {
font-size: 30px;
font-weight: bold;
}

.hobbies1 {
font-size: 25px;
font-weight: bold;
}
